In [1]:
import pandas as pd

#Load data from multiple CSV files
df_london = pd.read_csv('London_sales_data.csv')
df_new_york = pd.read_csv('New York_sales_data.csv')
df_tokyo = pd.read_csv('Tokyo_sales_data.csv')

#Merge data
df_all = pd.concat([df_london, df_new_york, df_tokyo], ignore_index=True)

#Display the first few lines of data
print(df_all.head())

         Date    Product  Sales Amount    City
0  2023-01-25  Product B        274.13  London
1  2023-03-29  Product D        130.85  London
2  2023-07-14  Product D        164.04  London
3  2023-08-09  Product C        466.30  London
4  2023-05-13  Product C        102.53  London

In [2]:
#Convert Date column to date format
df_all['Date'] = pd.to_datetime(df_all['Date'])

#Fill in missing sales as 0
df_all['Sales Amount'] = df_all['Sales Amount'].fillna(0)

#Remove invalid sales figures (such as negative numbers)
df_all = df_all[df_all['Sales Amount'] >= 0]

#Display the cleaned data
print(df_all.head())

        Date    Product  Sales Amount    City
0 2023-01-25  Product B        274.13  London
1 2023-03-29  Product D        130.85  London
2 2023-07-14  Product D        164.04  London
3 2023-08-09  Product C        466.30  London
4 2023-05-13  Product C        102.53  London

In [3]:
import pandas as pd
from sqlalchemy import create_engine

#Create database connection string
#Connect to MySQL database, format:mysql+mysqlconnector://username:password@host:port/database
engine = create_engine('mysql+mysqlconnector://root:admin123@localhost:3306/sales_db')


#Insert data into MySQL database
df_all.to_sql('sales_data', engine, if_exists='replace', index=False)

print("Data successfully loaded into MySQL!")

Data successfully loaded into MySQL!